<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<h1>Login</h1>
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for category, message in messages %}
				<div class="{{ category }}">{{ message }}</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
	<form method="POST" action="{{ url_for('auth.login') }}">
		<label for="username">Username:</label>
		<input type="text" id="username" name="username" required><br><br>
		<label for="password">Password:</label>
		<input type="password" id="password" name="password" required><br><br>
		<input type="submit" value="Login">
	</form>
	<p>Don't have an account? Register here <a href="{{ url_for('auth.register') }}">Register</p>
</body>
</html>